#content{
	background: url(https://s3-prod.autonews.com/s3fs-public/fordused-main_i.jpg) no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
  height: 100vh;
	font-family: sans-serif;
  padding: 0;
	margin: 0;
  opacity: 0.8;
}
.container{
	position: relative;
	width: 450px;
	height: auto;
	background: #ffffff;
	border-radius: 5px;
  opacity: 0.9;
}
.label{
	padding: 10px 130px;
	font-weight: bold;
	color: #130f40;
  text-align: center;
}
.login_form{
	padding: 30px 50px;
}
.login_form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 10px;
}

.login_form .register,
.login_form button{
	margin: 20px 0 10px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1A237E;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}

.login_form .register {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login_form button:hover{
	background: #151c6a;
}


