<div id = "content">
  <div class="container">
		<h1 class="label">User Login</h1>
    <h1 class="label">VEHICLE SHOWROOM</h1>
		<form class="login_form" action="home.html" method="post" name="form">

		  <div class="font">Username</div>
			<input autocomplete="off" type="text" name="email" [(ngModel)] = "user.userName">

			<div class="font font2">Password</div>
			<input type="password" name="password" [(ngModel)] = "user.password">

			<button type="submit" onsubmit="onSubmit()" >Login</button>
      <a class="register" href="/register" >Register</a>
		</form>
	</div>
</div>

