#content{
	background: url(https://cdn.autoversed.com/autoversed/wp-content/uploads/2018/06/515.jpg) no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
  height: 100vh;
	font-family: sans-serif;
  padding: 0;
	margin: 0;
}
.container{
	position: relative;
	width: 450px;
	height: auto;
	background: #eae9e9;
	border-radius: 5px;
  opacity: 0.9;
}
.label{
	padding: 10px 60px;
	font-weight: bold;
	color: #130f40;
}
.login_form{
	padding: 10px 40px;
}
.login_form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 10px;
}
.login_form button{
	margin: 20px 0 10px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1A237E;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form button:hover{
	background: #151c6a;
}


