<div id = "content">
  <div class="container">
		<h1 class="label">User Register</h1>

		<form class="login_form" action="home.html" method="post" name="form" onsubmit="onSubmit()">
      <div class="font">Name</div>
			<input autocomplete="off" type="text" name="Name" [(ngModel)] = "register.name">

			<div class="font1">Email</div>
			<input autocomplete="off" type="text" name="Email" [(ngModel)] = "register.email">

      <div class="font2">Address</div>
			<input autocomplete="off" type="text" name="Address" [(ngModel)] = "register.address">

      <div class="font3">Username</div>
			<input autocomplete="off" type="text" name="Username" [(ngModel)] = "register.username">

			<div class="font4">Password</div>
			<input type="password" name="Password" [(ngModel)] = "register.password">

      <div class="font5">Phone</div>
			<input type="text" name="Phone" [(ngModel)] = "register.phone">

			<button type="submit">Register</button>
      <button type="submit">Login</button>
		</form>
	</div>
</div>


